:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.remove-scroll::-webkit-scrollbar {
  display: none;
}

.app-header {
  text-align: center;
  color: #fff;
  height: 5rem;
  background-color: #7dbcea;
}
.app-footer{
  text-align: center;
  color: #fff;
  height: 4rem;
  background-color: #7dbcea;
}
.app-content{
  text-align: center;
  color: #fff;
  background-color: #108ee9;
}
.main-container{
  height: calc(100vh - 9rem);
}
.page-search{
  width: 16rem;
  position: absolute;
  left: 12rem;
  margin-top: 0.7rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
